archivos/Node-Red/flows(1).json
[
    {
        "id": "269aed2657ea47ac",
        "type": "tab",
        "label": "Sistema de Control de Riego",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3cf370a463dba33",
        "type": "mqtt in",
        "z": "269aed2657ea47ac",
        "name": "",
        "topic": "codigoiot/esp32/humedadTierra",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1cf4394e3811019a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "e60f2ee6897abf61",
                "87891014f261dbdb"
            ]
        ]
    },
    {
        "id": "ab316d9bab597e0b",
        "type": "mqtt in",
        "z": "269aed2657ea47ac",
        "name": "",
        "topic": "codigoiot/esp32/NivelAgua",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1cf4394e3811019a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 160,
        "wires": [
            [
                "4b4a4a5ffd81a1bd"
            ]
        ]
    },
    {
        "id": "fda6596e5dc9a153",
        "type": "comment",
        "z": "269aed2657ea47ac",
        "name": "Receptor",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "e60f2ee6897abf61",
        "type": "function",
        "z": "269aed2657ea47ac",
        "name": "Humedad de Tierra",
        "func": "var input = msg.payload; // Suponemos que el número en el rango de 0 a 4095 se recibe como payload del mensaje\nvar output = (input / 4095) * 100; // Transforma el número al rango 0-100\n\nmsg.payload = output; // Reemplaza el payload del mensaje con el nuevo valor transformado\n\nglobal.set (\"humedadTierra\", msg.payload); // Genera una nueva variable global con el valor calculado\nmsg.topic = \"Humedad de Tierra\"; // Diferenciador para la grafica\nreturn msg; ",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "407b1307bd2e89f8",
                "5b202bdf05fdb4bc",
                "87891014f261dbdb"
            ]
        ]
    },
    {
        "id": "4b4a4a5ffd81a1bd",
        "type": "function",
        "z": "269aed2657ea47ac",
        "name": "Nivel de Agua",
        "func": "var input = msg.payload; // Suponemos que el número en el rango de 0 a 4095 se recibe como payload del mensaje\nvar output = (input / 4095) * 100; // Transforma el número al rango 0-100\n\nmsg.payload = output; // Reemplaza el payload del mensaje con el nuevo valor transformado\n\nglobal.set(\"nivelAgua\", msg.payload); // Genera una nueva variable global con el valor calculado\nmsg.topic = \"Nivel de Agua\"; // Diferenciador para la grafica\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "2fb55970364edd25",
                "5b202bdf05fdb4bc",
                "87891014f261dbdb"
            ]
        ]
    },
    {
        "id": "407b1307bd2e89f8",
        "type": "ui_gauge",
        "z": "269aed2657ea47ac",
        "name": "",
        "group": "208be2acbe73eb51",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Sequia en Tierra",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#77767b",
            "#00b500",
            "#1a5fb4"
        ],
        "seg1": "20",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "2fb55970364edd25",
        "type": "ui_gauge",
        "z": "269aed2657ea47ac",
        "name": "",
        "group": "208be2acbe73eb51",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Nivel de Agua",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1a5fb4"
        ],
        "seg1": "20",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "87891014f261dbdb",
        "type": "debug",
        "z": "269aed2657ea47ac",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b202bdf05fdb4bc",
        "type": "ui_chart",
        "z": "269aed2657ea47ac",
        "name": "",
        "group": "4b306fa854b54f27",
        "order": 1,
        "width": 14,
        "height": 12,
        "label": "Histórico",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "16a86d8525d0c808",
        "type": "ui_button",
        "z": "269aed2657ea47ac",
        "name": "",
        "group": "208be2acbe73eb51",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encender Bomba",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "87891014f261dbdb",
                "a0ceac02baa9455f"
            ]
        ]
    },
    {
        "id": "a0ceac02baa9455f",
        "type": "mqtt out",
        "z": "269aed2657ea47ac",
        "name": "",
        "topic": "codigoiotBombaAgua",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1cf4394e3811019a",
        "x": 900,
        "y": 360,
        "wires": []
    },
    {
        "id": "f8f2653bac99579d",
        "type": "comment",
        "z": "269aed2657ea47ac",
        "name": "Transmisor",
        "info": "",
        "x": 940,
        "y": 420,
        "wires": []
    },
    {
        "id": "1cf4394e3811019a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.23",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "208be2acbe73eb51",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "a7baf48fa557e75d",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b306fa854b54f27",
        "type": "ui_group",
        "name": "Histórico",
        "tab": "a7baf48fa557e75d",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7baf48fa557e75d",
        "type": "ui_tab",
        "name": "Sistema de Control de Riego ",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]